@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
body {
  font-family: 'Open Sans', sans-serif;
}

nav {
  z-index: 3;
  color: white;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

nav #brand {
  letter-spacing: 3px;
  color: #e9c46a;
}

nav ul li a {
  color: white;
}

nav ul li a:hover {
  color: white;
}

.carousel {
  height: 100%;
}

.carousel-inner img {
  width: 100%;
  height: 100%;
}

.carousel-caption {
  margin-bottom: 15%;
}

.carousel-caption p {
  color: #fdfdfd;
  font-size: 20px;
}

.carousel-caption p::after {
  content: '';
  width: 40%;
  height: 1px;
  background: #fff;
  display: block;
  margin: 2% auto;
}

.carousel-caption h2 {
  font-size: 80px;
}

#a {
  width: 100%;
  height: auto;
  background: #f2f2f2;
  overflow: hidden;
}

#a #cunt {
  width: 100%;
  height: auto;
  padding: 20px 0px 40px 0px;
}

#heading {
  font-size: 17px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

#heading::after {
  content: '';
  width: 5%;
  height: 1px;
  background: #999999;
  display: block;
  margin: 1% auto;
}

.card-body .lead {
  font-size: 14px;
  color: #999999;
  text-align: center;
  letter-spacing: 2px;
}

.card-body .lead::after {
  content: '';
  width: 40%;
  height: 1px;
  background: #999999;
  display: block;
  margin: 2% auto;
}

.card-body h4 {
  text-align: center;
  margin-bottom: 30px;
}

.card-body .card-text {
  color: #999999;
  font-size: 14px;
  width: 90%;
  margin: 0 auto 6%;
}

.card-body .container-fluid {
  padding: 0;
  width: 100%;
}

.card-body button {
  border: 2px solid #999999;
  color: #999999;
}

#f1 {
  padding-top: 20px;
}

#f2 {
  padding-top: 20px;
}

.show {
  background: #000;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

#e {
  width: 100%;
  height: 300px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.7))), url("/img/bg.jpg");
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.7)) , url("/img/bg.jpg");
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  padding-top: 9%;
}

#e .lead {
  color: #999999;
  font-size: 13px;
  text-align: center;
  letter-spacing: 2px;
}

#e .lead::after {
  content: '';
  width: 40%;
  height: 1px;
  background: #999999;
  display: block;
  margin: 1% auto;
}

#e h5 {
  text-align: center;
  color: white;
  font-size: 30px;
}

#b {
  width: 100%;
  height: auto;
}

#b .container-fluid {
  width: 100%;
  height: auto;
  padding: 20px 0px 10px 30px;
}

#b .container-fluid .row {
  padding: 0;
  width: 100%;
  height: auto;
}

#b .container-fluid .row > div {
  margin-bottom: 2%;
}

#c {
  width: 100%;
  height: auto;
  background: #f2f2f2;
}

#c .container-fluid {
  width: 100%;
  height: auto;
  padding: 20px 0px 10px 7%;
}

#c .container-fluid .row {
  padding: 0;
  width: 100%;
  height: auto;
}

#c .container-fluid .row > div {
  margin-bottom: 2%;
}

@media screen and (max-width: 768px) {
  .carousel {
    height: 50%;
  }
  .carousel-caption {
    margin-bottom: 10%;
  }
  .carousel-caption p {
    font-size: 15px;
  }
  .carousel-caption p::after {
    content: '';
    width: 40%;
    height: 1px;
    background: #fff;
    display: block;
    margin: 2% auto;
  }
  .carousel-caption h2 {
    font-size: 40px;
  }
  #e {
    padding-top: 20%;
  }
}

#d {
  width: 100%;
  height: auto;
}

#d .container-fluid {
  width: 100%;
  height: auto;
  padding: 20px 7% 20px 7%;
}

#f {
  width: 100%;
  height: 200px;
  background: #000;
}

#f .container-fluid {
  width: 100%;
  height: 100px;
  padding: 0;
}

#f .container-fluid i {
  font-size: 25px;
  margin-left: 2.5%;
}

#f .container {
  width: 100%;
  height: 100px;
  padding: 0;
  padding-top: 20px;
}

#f .container p {
  font-size: 15px;
  text-align: center;
  letter-spacing: 4px;
}
/*# sourceMappingURL=style.css.map */